%button {
  display: inline-block;
  width: auto;
  padding: 11px 16px;
  overflow: hidden;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: .3s;

  &:hover {
    opacity: .8;
  }
}

.c-button {

  &__back {
    @extend %button;

    color: $color-primary;
    background-color: $color-white;

    a {
      font-size: $text-size-bold;
      font-weight: 400;
      color: $color-primary;
      text-decoration: none;
    }
  }

  &__purchase {
    @extend %button;

    margin: 8px;
    color: $color-primary;
    background-color: $color-white;
  }

  &__primary {
    @extend %button;

    color: $color-white;
    background-color: $color-primary;
  }

  &__transparent {
    @extend %button;

    color: $color-primary;
    background-color: $color-white;
  }
}
